dataset : https://www.kaggle.com/datasets/yasserh/titanic-dataset

In [248]:
import pandas as pd

In [249]:
dataset = pd.read_csv("Titanic-Dataset.csv")
print(dataset.shape)
dataset.head()

(891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [250]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [251]:
dataset.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [252]:
X = dataset.drop("Survived", axis=1)
y = dataset["Survived"]

In [253]:
from sklearn.model_selection import train_test_split

In [254]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.05, stratify=y)

In [255]:
dataset.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [256]:
X_train['Title'] = X_train['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)
X_test['Title'] = X_test['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)

In [257]:
X_train = X_train.drop(['Name', 'Ticket', 'Cabin'], axis=1)
X_test = X_test.drop(['Name', 'Ticket', 'Cabin'], axis=1)

In [258]:
X_train['FamilySize'] = X_train['SibSp'] + X_train['Parch'] + 1 
X_test['FamilySize'] = X_test['SibSp'] + X_test['Parch'] + 1

In [259]:
X_train = X_train.drop(['SibSp', 'Parch'], axis=1)
X_test = X_test.drop(['SibSp', 'Parch'], axis=1)

In [260]:
X_train.isnull().sum()

PassengerId      0
Pclass           0
Sex              0
Age            170
Fare             0
Embarked         2
Title            0
FamilySize       0
dtype: int64

In [261]:
combined = pd.concat([X_train, X_test])

combined['Age'] = combined.groupby('Title')['Age'].transform(lambda x: x.fillna(x.median()))

X_train['Age'] = combined.loc[X_train.index, 'Age']
X_test['Age'] = combined.loc[X_test.index, 'Age']

In [262]:
X_train

     PassengerId  Pclass     Sex   Age     Fare Embarked Title  FamilySize
583          584       1    male  36.0  40.1250        C    Mr           1
58            59       2  female   5.0  27.7500        S  Miss           4
199          200       2  female  24.0  13.0000        S  Miss           1
711          712       1    male  30.0  26.5500        S    Mr           1
663          664       3    male  36.0   7.4958        S    Mr           1
..           ...     ...     ...   ...      ...      ...   ...         ...
801          802       2  female  31.0  26.2500        S   Mrs           3
456          457       1    male  65.0  26.5500        S    Mr           1
615          616       2  female  24.0  65.0000        S  Miss           4
805          806       3    male  31.0   7.7750        S    Mr           1
74            75       3    male  32.0  56.4958        S    Mr           1

[846 rows x 8 columns]

In [263]:
from sklearn.preprocessing import LabelEncoder

In [264]:
le_sex = LabelEncoder()
X_train['Sex'] = le_sex.fit_transform(X_train['Sex'])
X_test['Sex'] = le_sex.transform(X_test['Sex'])

In [265]:
le_embarked = LabelEncoder()
X_train['Embarked'] = le_embarked.fit_transform(X_train['Embarked'])
X_test['Embarked'] = le_embarked.transform(X_test['Embarked'])

In [266]:
import numpy as np

In [267]:
set(np.asanyarray(X_test['Title']))

{'Major', 'Miss', 'Mr', 'Mrs'}

In [268]:
set(np.asanyarray(X_train['Title']))

{'Capt',
 'Col',
 'Countess',
 'Don',
 'Dr',
 'Jonkheer',
 'Lady',
 'Major',
 'Master',
 'Miss',
 'Mlle',
 'Mme',
 'Mr',
 'Mrs',
 'Ms',
 'Rev',
 'Sir'}

In [269]:
le_title = LabelEncoder()
X_train['Title'] = le_title.fit_transform(X_train['Title'])
X_test['Title'] = le_title.transform(X_test['Title'])

In [270]:
X_train

     PassengerId  Pclass  Sex   Age     Fare  Embarked  Title  FamilySize
583          584       1    1  36.0  40.1250         0     12           1
58            59       2    0   5.0  27.7500         2      9           4
199          200       2    0  24.0  13.0000         2      9           1
711          712       1    1  30.0  26.5500         2     12           1
663          664       3    1  36.0   7.4958         2     12           1
..           ...     ...  ...   ...      ...       ...    ...         ...
801          802       2    0  31.0  26.2500         2     13           3
456          457       1    1  65.0  26.5500         2     12           1
615          616       2    0  24.0  65.0000         2      9           4
805          806       3    1  31.0   7.7750         2     12           1
74            75       3    1  32.0  56.4958         2     12           1

[846 rows x 8 columns]

In [271]:
y_train

583    0
58     1
199    0
711    0
663    0
      ..
801    1
456    0
615    1
805    0
74     1
Name: Survived, Length: 846, dtype: int64

In [272]:
y_test

705    0
166    1
674    0
468    0
274    1
262    0
321    0
204    1
60     0
81     1
676    0
135    0
320    0
530    1
370    1
609    1
762    1
417    1
379    0
382    0
350    0
98     1
264    0
373    0
53     1
683    0
29     0
91     0
699    0
536    0
587    1
88     1
807    0
682    0
365    0
434    0
202    0
437    1
565    0
227    0
402    0
195    1
444    1
71     0
747    1
Name: Survived, dtype: int64

In [273]:
X_test

     PassengerId  Pclass  Sex   Age      Fare  Embarked  Title  FamilySize
705          706       2    1  39.0   26.0000         2     12           1
166          167       1    0  35.0   55.0000         2     13           2
674          675       2    1  30.0    0.0000         2     12           1
468          469       3    1  30.0    7.7250         1     12           1
274          275       3    0  21.0    7.7500         1      9           1
262          263       1    1  52.0   79.6500         2     12           3
321          322       3    1  27.0    7.8958         2     12           1
204          205       3    1  18.0    8.0500         2     12           1
60            61       3    1  22.0    7.2292         0     12           1
81            82       3    1  29.0    9.5000         2     12           1
676          677       3    1  24.5    8.0500         2     12           1
135          136       2    1  23.0   15.0458         0     12           1
320          321       3    1  22.0    7.2500         2     12           1
530          531       2    0   2.0   26.0000         2      9           3
370          371       1    1  25.0   55.4417         0     12           2
609          610       1    0  40.0  153.4625         2      9           1
762          763       3    1  20.0    7.2292         0     12           1
417          418       2    0  18.0   13.0000         2      9           3
379          380       3    1  19.0    7.7750         2     12           1
382          383       3    1  32.0    7.9250         2     12           1
350          351       3    1  23.0    9.2250         2     12           1
98            99       2    0  34.0   23.0000         2     13           2
264          265       3    0  21.0    7.7500         1      9           1
373          374       1    1  22.0  135.6333         0     12           1
53            54       2    0  29.0   26.0000         2     13           2
683          684       3    1  14.0   46.9000         2     12           8
29            30       3    1  30.0    7.8958         2     12           1
91            92       3    1  20.0    7.8542         2     12           1
699          700       3    1  42.0    7.6500         2     12           1
536          537       1    1  45.0   26.5500         2      7           1
587          588       1    1  60.0   79.2000         0     12           3
88            89       1    0  23.0  263.0000         2      9           6
807          808       3    0  18.0    7.7750         2      9           1
682          683       3    1  20.0    9.2250         2     12           1
365          366       3    1  30.0    7.2500         2     12           1
434          435       1    1  50.0   55.9000         2     12           2
202          203       3    1  34.0    6.4958         2     12           1
437          438       2    0  24.0   18.7500         2     13           6
565          566       3    1  24.0   24.1500         2     12           3
227          228       3    1  20.5    7.2500         2     12           1
402          403       3    0  21.0    9.8250         2      9           2
195          196       1    0  58.0  146.5208         0      9           1
444          445       3    1  30.0    8.1125         2     12           1
71            72       3    0  16.0   46.9000         2      9           8
747          748       2    0  30.0   13.0000         2      9           1

In [274]:
import xgboost as xgb
from sklearn.metrics import roc_auc_score, classification_report

In [275]:
model = xgb.XGBClassifier(
    objective='binary:logistic',
    eval_metric='auc',
    random_state=42
)

In [276]:
model.fit(X_train, y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric='auc', feature_types=None,
              feature_weights=None, gamma=None, grow_policy=None,
              importance_type=None, interaction_constraints=None,
              learning_rate=None, max_bin=None, max_cat_threshold=None,
              max_cat_to_onehot=None, max_delta_step=None, max_depth=None,
              max_leaves=None, min_child_weight=None, missing=nan,
              monotone_constraints=None, multi_strategy=None, n_estimators=None,
              n_jobs=None, num_parallel_tree=None, ...)

In [277]:
y_pred_proba = model.predict_proba(X_test)[:, 1]
auc = roc_auc_score(y_test, y_pred_proba)
print(f"ROC-AUC: {auc:.4f}")

y_pred = model.predict(X_test)
print(classification_report(y_test, y_pred))

ROC-AUC: 0.8151
              precision    recall  f1-score   support

           0       0.82      0.82      0.82        28
           1       0.71      0.71      0.71        17

    accuracy                           0.78        45
   macro avg       0.76      0.76      0.76        45
weighted avg       0.78      0.78      0.78        45